<?xml version='1.0' encoding='utf-8'?>
<widget id="com.TicTacToe.anish98821" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tic-Tac-Toe!</name>
    <description>
        An unbeatable AI Tic Tac Toe game.
    </description>
    <author email="anish98821@hotmail.com" href="https://github.com/Anish98821.com">
        Anish U
    </author>
    <preference name="orientation" value="portrait" />
    <icon src = 'logo.png'/>
    <content src="index.html" />
    <access origin="*" />
</widget>
